.u-section-1 .u-sheet-1 {
  min-height: 1573px;
}

.u-section-1 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 12.5rem;
  line-height: 0.8;
  text-transform: none;
  margin: 49px 40px 0;
}

.u-section-1 .u-image-1 {
  width: 766px;
  height: 766px;
  margin: 118px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 387px;
  min-height: 364px;
  background-image: url("/images/img1.jpg");
  margin: -673px auto 60px 79px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1527px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -627px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -447px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    min-height: 320px;
    margin-top: -247px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: url("/images/img4.jpg");
  background-position: 50% 50%;
  min-height: 853px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1152px);
  margin: 150px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 534px 192px 0 -220px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-style: italic;
  font-weight: 700;
  font-family: "Abril Fatface";
  margin: -30px calc(((100% - 1140px) / 2)) 18px calc(((100% - 1140px) / 2) + 621px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 471px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 421px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 78px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 201px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 21px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 380px;
}

.u-section-3 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 6rem;
  margin: 54px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 541px;
  margin: 26px auto;
}

.u-section-3 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-3 .u-icon-2 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-3 .u-icon-3 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-3 .u-icon-4 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-3 .u-icon-5 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-3 .u-icon-6 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-3 .u-icon-7 {
  font-size: 0.7em;
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: -3px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-bottom: -3px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1207px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Abril Fatface";
  margin: 63px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 82px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 883px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 158px;
  height: 228px;
  margin: 0 auto 0 86px;
}

.u-section-4 .u-text-2 {
  font-family: "Abril Fatface";
  font-size: 3rem;
  margin: -70px 262px 0 367px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -20px 27px 0 auto;
  padding: 11px 30px;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 545px 0 384px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 158px;
  height: 228px;
  margin: 0 auto 0 86px;
}

.u-section-4 .u-text-4 {
  font-family: "Abril Fatface";
  font-size: 3rem;
  margin: -70px 262px 0 367px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -20px 27px 0 auto;
  padding: 11px 30px;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  margin: 0 545px 0 384px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 170px;
  height: 300px;
  margin: 0 auto 0 70px;
}

.u-section-4 .u-text-6 {
  font-family: "Abril Fatface";
  font-size: 3rem;
  margin: -70px 262px 0 367px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -20px 27px 0 auto;
  padding: 11px 30px;
}

.u-section-4 .u-text-7 {
  font-size: 2.25rem;
  margin: 0 545px 0 384px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 162px;
    margin-left: 274px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 274px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 445px;
    margin-left: 274px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 162px;
    margin-left: 274px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 274px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 445px;
    margin-left: 274px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 162px;
    margin-left: 274px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 274px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: 445px;
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 52px;
    margin-left: 263px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 335px;
    margin-left: 263px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 52px;
    margin-left: 263px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 335px;
    margin-left: 263px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 52px;
    margin-left: 263px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 335px;
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1801px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 4.0625rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
    margin-left: 84px;
  }

  .u-section-4 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-right: auto;
    margin-left: 84px;
  }

  .u-section-4 .u-image-3 {
    width: 300px;
    height: 300px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-4 .u-text-7 {
    margin-right: auto;
    margin-left: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1900px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
  min-height: 660px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 652px;
  background-image: url("/images/libro1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 687px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 50px 12px;
}

.u-section-5 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 2.25rem;
  margin: 36px 0 0 15px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px 92px 0 76px;
}

.u-section-5 .u-image-2 {
  min-height: 310px;
  background-image: url("/images/libro3.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-5 .u-image-3 {
  min-height: 400px;
  background-image: url("/images/libro2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 647px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -25px;
    margin-bottom: -25px;
  }

  .u-section-5 .u-image-1 {
    min-height: 538px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 566px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2rem;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 43px;
    margin-right: 59px;
    width: 221px;
  }

  .u-section-5 .u-image-2 {
    min-height: 256px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-image-3 {
    min-height: 282px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1550px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 618px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-2 {
    min-height: 588px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-3 {
    min-height: 648px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 2103px;
  }

  .u-section-5 .u-image-1 {
    min-height: 927px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-2 {
    min-height: 441px;
  }

  .u-section-5 .u-image-3 {
    min-height: 486px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1356px;
  }

  .u-section-5 .u-image-1 {
    min-height: 584px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 278px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    min-height: 306px;
  }
} .u-section-6 {
  background-image: url("/images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1115px;
}

.u-section-6 .u-group-1 {
  min-height: 790px;
  margin-top: 111px;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 12.5rem;
  line-height: 0.8;
  text-transform: none;
  margin: 74px 167px 0 41px;
}

.u-section-6 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  font-size: 1.5rem;
  margin: 177px -62px 9px 768px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 668px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-6 .u-text-1 {
    font-size: 9.375rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-6 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 368px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 585px;
}

.u-section-7 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 3.75rem;
  margin: 78px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 82px;
  margin-bottom: 20px;
}

.u-section-7 .u-image-1 {
  min-height: 339px;
  background-image: url("/images/img5.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  min-height: 339px;
  background-image: url("/images/img1.jfif");
  background-position: 50% 50%;
}

.u-section-7 .u-image-3 {
  background-image: url("/images/img3.jpg");
  min-height: 339px;
  background-position: 49.6% 0%;
  background-size: auto 140%;
}

.u-section-7 .u-image-4 {
  background-image: url("/images/mod3.jpg");
  min-height: 339px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 522px;
  }

  .u-section-7 .u-image-1 {
    min-height: 359px;
  }

  .u-section-7 .u-image-2 {
    min-height: 359px;
  }

  .u-section-7 .u-image-3 {
    min-height: 359px;
    background-position: 37.55% 50%;
  }

  .u-section-7 .u-image-4 {
    min-height: 359px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 944px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -162px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1728px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -674px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1510px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-8 {
  min-height: 879px;
}

.u-section-8 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1176px);
  margin: 0 0 10px auto;
}

.u-section-8 .u-image-1 {
  min-height: 869px;
  background-image: url("/images/od4.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-image-2 {
  min-height: 869px;
  background-image: url("/images/mod1.jpg");
  background-position: 74.63% 36.19%;
}

.u-section-8 .u-container-layout-2 {
  padding: 8px 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 464px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: -36px;
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-8 .u-image-1 {
    min-height: 695px;
  }

  .u-section-8 .u-image-2 {
    background-position: 50% 50%;
    min-height: 695px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 355px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: -64px;
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-8 .u-image-1 {
    min-height: 532px;
  }

  .u-section-8 .u-image-2 {
    min-height: 532px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 287px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-8 .u-image-1 {
    min-height: 599px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 1197px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 181px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-8 .u-image-1 {
    min-height: 377px;
  }

  .u-section-8 .u-image-2 {
    min-height: 754px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 589px;
}

.u-section-9 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 6rem;
  margin: 59px 0 0;
}

.u-section-9 .u-text-2 {
  font-family: "Abril Fatface";
  font-size: 3rem;
  width: 756px;
  margin: 21px auto 60px;
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
    margin-bottom: 15px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 441px;
}

.u-section-10 .u-form-1 {
  height: 338px;
  margin: 47px 30px 0 540px;
}

.u-section-10 .u-image-1 {
  width: 411px;
  height: 391px;
  margin: -338px auto 3px 81px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-form-1 {
    width: 570px;
    margin-left: 370px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-form-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-10 .u-form-1 {
    width: 340px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 323px;
    margin-left: 0;
  }
}